@model BurgerOrderItemViewModel

<h2>Edit Quantity for @Model.Burger.Name</h2>
<form asp-action="Edit" asp-controller="BurgerOrderItem" method="post">
    <input type="hidden" asp-for="OrderId"/>
   <input type="hidden" asp-for="Id"/>
    <div class="form-group">
        <label asp-for="Quantity"></label>
        <input asp-for="Quantity" type="number"/>
    </div>

    <button type="submit" class="btn btn-success">Edit item</button>
</form>